main.listen {
    padding-bottom: 30px;
    background-color: $yellow;
    position: relative;
    z-index: 2;

    .music-note {
        position: absolute;
        width: 50px;
        z-index: 0;

        &.left {
            left: 15px;
            top: 650px;
            transform: rotate(-10deg);
        }

        &.right {
            right: 15px;
            top: 420px;
            transform: rotate(20deg);
        }

        @media (min-width: 650px) {
            width: 75px;

            &.left {
                left: 30px;
            }
            &.right {
                right: 30px;
            }
        }
        @media (min-width: 850px) {
            width: 90px;

            &.left {
                left: 45px;
            }
            &.right {
                right: 45px;
            }
        }
        @media (min-width: 950px) {
            width: 120px;
        }
    }

    .wave {
        height: 150px;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: 350px;
        left: 0;
        right: 0;

        svg {
            height: 100%; 
            width: 100%;

            path {
                stroke: none;
                fill: $blue;
            }
        }

        @media(max-width: 700px) {
            height: 50px;
        }
    }

    &:after {
        content: '';
        background-color: $blue;
        position: absolute;
        z-index: -1;
        top: 450px;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 500px;

        @media(max-width: 700px) {
            top: 400px;
        }
    }

    .releases--wrapper {
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 1;
        position: relative;

        .releases--single {
            margin: 0 75px 60px;
            max-width: 300px;
            color: $black;

            .releases--cover {
                margin-bottom: 5px;
                box-sizing: border-box;

                img {
                    border: 3px solid $black;
                    box-sizing: border-box;
                    width: 100%;
                }
            }

            .releases--title {
                font-family: "Ultra", serif;
                text-transform: uppercase;
                font-size: 1.5rem;
                line-height: 1;
            }

            &:hover, &:focus {
                .releases--cover {
                    img {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}

// single release pages

iframe {
    display: block;
    margin: auto;
    border: 3px solid $black;
    box-sizing: border-box;
    background-color: $white;
    background-image: url('../../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
iframe.milwaukee {
    width: 350px;
    height: 522px;
}
iframe.self-titled {
    width: 350px;
    height: 588px;
}
iframe.millers-cave {
    width: 350px;
    height: 489px;
}
iframe.steel-guitar-rag {
    width: 350px;
    height: 489px;
}
iframe.drinkin {
    width: 250px;
    height: 489px;
}

@media (max-width: 600px) {
    main.listen {
        .releases--wrapper {
            .releases--single {
                max-width: 250px;
                
                .releases--title {
                    font-size: 1.25rem;
                }
            }   
        }
    }
    

    iframe.milwaukee {
        width: 250px;
        height: 447px;
    }
    iframe.self-titled {
        width: 250px;
        height: 513px;
    }
    iframe.millers-cave {
        width: 250px;
        height: 414px;
    }
    iframe.steel-guitar-rag {
        width: 250px;
        height: 414px;
    }
    iframe.drinkin {
        width: 250px;
        height: 414px;
    }
}
.release--date {
    font-size: 1rem;
    margin-top: 0;
}

.release--meta {
    margin-bottom: 30px;
}